<div class="container">
	<div class="row">
		{{#each items}}
		<div class="col s4 m3">
			<div class="card">
				<div class="card-image center-align">
					<img class="materialboxed" width="290" height="224" src="{{this.image}}">
					<p class="black-text card-title-item">{{this.market_name}}</p>
					<p class="card-text-price">${{this.price}}</p>
				</div>
				<div class="center space card-action">
					<button class="waves-effect waves-light btn blue darken-4 deposit item"
						data-assetid="{{this.assetid}}" onclick="M.toast({html: `Sending  <span class='btn-flat
						toast-action teal-text'>{{this.market_hash_name}}</span>`, classes: 'blue darken-4'})">Deposit</button>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>