

 <section class="main-hero">
	 <div class="container">
		 <div class="row">
			 <div class="col-lg-7">
				 <div class="blur-container">
					<p class="mini-titile">Counter Strike: Global Offensive</p>
					<h1>Best skin deals on the market</h1>
				 </div>
				<p class="sub-title">Grow your skins collection and enjoy your game experience at its fullest. </p>
			 </div>
			 <div class="col-lg-5">
				 <img src="/img/main-hero.svg" alt="hero" class="hero-ct">
			 </div>
		 </div>
	 </div>

		<div class="cookie-block">
        <p class="body_3">
          csskinsshop.com uses cookies to optimize your online experience on our
          website. By continuing to use our website for your gaming needs, you
          are consenting to use such cookies.
        </p>
        <button id="close-cookie">
          <svg
            width="13"
            height="13"
            viewBox="0 0 13 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M12 1L1 12M1 1L12 12" stroke="#A8ADB5" stroke-width="2" />
          </svg>
        </button>
      </div>
 </section>

 <section class="offer-section">
	 <div class="container">
		 <div class="row">
			 <div class="col-lg-12 pl0">
				 <div class="wrapper-flex-for-title">
				 <h2>What we offer</h2>
				<img src="/img/offer-bottom.svg" alt="border" class="border-titile">
				 </div>

			 </div>
			 <div class="col-lg-3">
				 <div class="offer-card">
					 <div class="offer-card-title">
						 <img src="/img/Severicons-1.svg" alt="offer-img" class="offer-card-img">
						 <p class="offer-title">Fairness and benefits</p>
					 </div>
					 <p class="offer-card-text">You can always find out actual drop rate of a desirable skin.</p>
				 </div>
			 </div>
			<div class="col-lg-3 offset-lg-1 pl0">
				 <div class="offer-card">
					 <div class="offer-card-title">
						 <img src="/img/Severicons.svg" alt="offer-img" class="offer-card-img">
						 <p class="offer-title">High-class</p>
					 </div>
					 <p class="offer-card-text">Keeping our user satisfied is our main priority. We constantly improve the functionality of our site.</p>
				 </div>
			 </div>
			 <div class="col-lg-3 offset-lg-1 pl0">
				 <div class="offer-card">
					 <div class="offer-card-title">
						 <img src="/img/Severicons-2.svg" alt="offer-img" class="offer-card-img">
						 <p class="offer-title">Safety</p>
					 </div>
					 <p class="offer-card-text">Be sure, your skins and personal information are totally secure.</p>
				 </div>
			 </div>

			 <div class="col-lg-3 mt70" >
				 <div class="offer-card">
					 <div class="offer-card-title">
						 <img src="/img/Severicons-4.svg" alt="offer-img" class="offer-card-img">
						 <p class="offer-title">Flawless reputation</p>
					 </div>
					 <p class="offer-card-text">We provide the full statistics as well as comments of our users in social media.</p>
				 </div>
			 </div>
			<div class="col-lg-3 offset-lg-1 pl0 mt70" >
				 <div class="offer-card">
					 <div class="offer-card-title">
						 <img src="/img/Severicons-3.svg" alt="offer-img" class="offer-card-img">
						 <p class="offer-title">Speed</p>
					 </div>
					 <p class="offer-card-text">You can be sure that earned stuff will be delivered immediately when Steam works properly.</p>
				 </div>
			 </div>
		 </div>
	 </div>
 </section>

 <section class="hottest-hero">
	 <div class="container">
		 <div class="row">
			 <div class="col-lg-12 ">
				<div class="wrapper-flex-for-title">
					<h2>Hottest pick of the month</h2>
					<img src="/img/offer-bottom.svg" alt="border" class="border-titile">
				 </div>
				 <h4>New and fresh collections on CSSKINSHOP</h4>
			 </div>
			<div class="col-lg-6 relative m4-mob">
				<img src="/img/mobilem4.svg" alt="m4" class="custom-m4">
			 </div>
			 <div class="col-lg-6">
				 <div class="pistol-wrapper-cart">
					<div class="pistol-cart">
						<img src="/img/pistol-white.svg" alt="pistol" class="pistol-icon">
						<p class="pistol-title"><span>DESERT EAGLE</span>Blaze</p>
						<img src="/img/deagle.svg" alt="deagle" class="main-pistol">
					</div>
					<div class="pistol-cart pistol-cart2">
						<img src="/img/pistol-white.svg" alt="pistol" class="pistol-icon">
						<p class="pistol-title"><span>MAC-10</span>Neon Rider</p>
						<img src="/img/mac.svg" alt="mac" class="main-pistol">
					</div>
					<div class="pistol-cart pistol-cart3">
						<img src="/img/pistol-white.svg" alt="pistol" class="pistol-icon">
						<p class="pistol-title"><span>GLOCK-18</span>Bullet Queen</p>
						<img src="/img/glock.svg" alt="glock" class="main-pistol">
					</div>
				</div>
			 </div>
			 <div class="col-lg-6 relative m4-desk">
				<img src="/img/m4.svg" alt="m4" class="custom-m4">
			 </div>
		 </div>
	 </div>
 </section>

 <section class="weapons">
	 <div class="container">
		 <div class="row">
			 <div class="col-lg-12">
					<div class="wrapper-flex-for-title">
					<img src="/img/offer-bottom.svg" alt="border" class="border-titile">
				 </div>
			 </div>
			<div class="custom-card-weapon-wrapper">


			{{#if user}}
						{{#each items}}
				<div class="custom-card-weapon">
					<div class="card-weapon">
						<div class="card-image center-align">
							<img class="materialboxed" width="140" src="{{this.image}}">
							<p class="card-text-price">
								<img src="/img/dollar.svg" alt="usd" class="dollar">
								{{this.price}}</p>
							<p class="black-text card-title-item">{{this.market_hash_name}}</p>
						</div>
						<div class="center space card-action">
								<button class="btn withdraw item"
								data-assetid="{{this.assetid}}" data-price="{{this.price}}">Buy</button>  
						</div>
					</div>
				</div>
			{{/each}}
			{{else}}
			{{#each items}}
				<div class="custom-card-weapon">
					<div class="card-weapon">
						<div class="card-image center-align">
							<img class="materialboxed" width="140" src="{{this.image}}">
							<p class="card-text-price">
								<img src="/img/dollar.svg" alt="usd" class="dollar">
								{{this.price}}</p>
							<p class="black-text card-title-item">{{this.market_hash_name}}</p>
						</div>
						<div class="center space card-action">
                                <a href="/auth/steam" class="btn">
                                    <img src="/img/steam.svg" alt="steam" class="steam-icon">
                                    Sign in
                                </a>
						</div>
					</div>
				</div>
			{{/each}}
			{{/if}}
			</div>

		 </div>
	 </div>
 </section>

 <section class="popular">
	 <div class="container">
		 <div class="row">
			 <div class="col-lg-4 pl0 pr0">
				<div class="popular-card">
					<img src="/img/pistol-white.svg" alt="pistol" class="pistol-icon">
					 <p class="pistol-title"><span>AK-47</span>Bloodsport Premium</p>
					 <img src="/img/ak.svg" alt="deagle" class="main-pistol">
				</div>
			 </div>
			 <div class="col-lg-7 offset-lg-1">
				<div class="wrapper-flex-for-title">
				 <h2>Popular among gamers</h2>
					<img src="/img/offer-bottom.svg" alt="border" class="border-titile">
				 </div>
				 <p class="p body_1">For the past year or so we have continuously been driving towardsour goal of innovating the virtual item industry.</p>
				<div class="popular-icon-wrapper">
					<img src="/img/pop01.svg" alt="pop" class="popular-icon">
					<p class="p popular-text">
						Used by more than 2k gamers
					</p>
				</div>
				<div class="popular-icon-wrapper">
					<img src="/img/pop02.svg" alt="pop" class="popular-icon">
					<p class="p popular-text">
						Trusted by Skilled players
					</p>
				</div>
			 </div>
		 </div>
	 </div>
 </section>


 <section class="pre-footer">
	 <div class="container">
		 <div class="row">
			 <div class="col-lg-12">
				 <p class="p mobile-pre-footer">
					 Upgrade your skins with csskinshop
				 </p>
				<div class="pre-footer-wrapper relative">
					<p class="p pre-footer-text">
						Upgrade your skins with csskinshop
					</p>
					{{#if user}}
					<a href="/pay">
						<img src="/img/funds.svg" alt="steam" class="steam-icon">
						Add funds
					</a>
					{{else}}
					<a href="/auth/steam">
						<img src="/img/steam.svg" alt="steam" class="steam-icon">
						Sign in
					</a>
					{{/if}}
					<img src="/img/dude.svg" alt="cs" class="pre-footer-img">
				</div>	
			 </div>
		 </div>
	 </div>
 </section>